@model IEnumerable<WebApplication.Models.Article>
@{
    //ViewData["Title"] = "Список смартфонов";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Список статей</title>
</head>
<body>
    <h3>Статьи</h3>
    <table>
        <tr>
            <td>Название</td>
            <td>Содержание</td>
            <td>Дата создания</td>
            <td></td>
        </tr>
        @foreach (var article in Model)
        {
            <tr>
                <td>@article.Title</td>
                <td>@article.Content</td>
                <td>@article.DateInsert</td>
                @*<td><a href="~/Home/Buy/@phone.Id">Купить</a></td>*@
            </tr>
        }
    </table>
</body>
</html>